body, html {
    font-family: 'Source Serif Pro', serif;
    height: 100%;
    background-color: lightgrey;
}

.nadpis {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: lightgrey;
    background-color: lightgrey;
}

.omne {
    text-align: center;
}

.kontakt {
    text-align: center;
}

.blok {
    background-color: lightgrey;
}

.sekce {
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    color: black;
    text-decoration-line: underline;

}

.ramecek {
    padding: 25px;
    background-color: burlywood;
    height: 100%;
}

.paticka {
    text-align: center;
    background-color: grey;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg {
  /* The image used */
  background-image: url("images/webdesign-pozadi.JPG");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text_obrazku {
    color: white;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-size: 50px;
}

